    <div class="col-xs-8">

      <p></p>

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag('grief-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('anxiety-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('brain-science-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('couples-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('trauma-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('habits-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('selling-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('tough-customers-cover.jpg') %>
              </div>
              <div class="item">
                <%= image_tag('ethics-cover.jpg') %>
              </div>
            </div>
          </div>

          <div id="lead-in">
            <h1 id="tagline">Psychotherapy from the front lines.</h1>
            <p>Anyone can cite a study. But how does it apply to <em>your</em> consulting room?</p>
          </div>

        <p></p>

          <p class="lead, hook"><strong>Earn CE credits from real, practical insights:</strong></p>

          <ul class="smaller-home-copy">
            <li>Examples and case studies from real consulting rooms.</li> 
            <li>Road-tested exercises for you and for your clients.</li> 
            <li>Access to topical experts - from anxiety to trauma to children.</li>
          </ul>

        <p></p>

        <div class="who-we-are">
          <p class="lead">If you want an academic lecture, we'll recommend someone else.</p>
          <p class="lead">When you want the real story after class, come to us.</p> 
          <p class="lead">It's what we do - and what we've done for 
          <%= @years_in_operation %> years.</p>
        </div>

    </div>

    <div class="col-xs-4">

      <div class="opt-in">
        <p class="opt-in-large">We made you something.</p>
        <p class="opt-in-small">It's an e-book called <em>Something Relevant to Your Audience According to Search Data</em>. We know you'll love it.</p>
        <p class="opt-in-small">Just let us know where to send it.</p> 

        <form role="form">
          <div class="form-group">
            <label for="exampleInputName">First Name</label>
            <input type="name" class="form-control" id="exampleInputName" placeholder="Enter first name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>

        <p>We'll also provide your daily dose of brain candy: bite size videos, article excerpts, and more. Unsubscribe whenever you want - though we hope you don't. We'd miss you.</p>  
      </div>

    </div>